/* Basic styling */
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: "Segoe UI", sans-serif;
  background: #1a2933;
  color: #fff;
  overflow: hidden;
}

h1 {
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.4);
}

/* Hide the default windows scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Styling of window frame and titlebar */
.titlebar {
  height: 30px;
  color: white;
  padding: 0 4px;
  display: flex;
  align-items: center;
  -webkit-app-region: drag;
}

main {
  height: calc(100% - 30px);
  padding: 20px;
  padding-bottom: 0; /* remove bottom padding from main */
  overflow-y: auto;
  box-sizing: border-box;
}

/* Push space after the last element */
main > *:last-child {
  margin-bottom: 20px;
}
.window-title {
  display: flex;
  align-items: center;
  margin-left: 8px;
  font-family: "Segoe UI", sans-serif;
  font-size: 18px;
}
